<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Trumpenator</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <center>
   <h1>The Trumpenator!</h1>
   <h2>Pick a topic you want Donald Trump's opinion on.</h2>
   <div id="choose">
   <form method="POST" action= "/trump">
<input type="radio" name="topic" value="the_economy" checked>The Economy
<br>
<input type="radio" name="topic" value="race_relations">Race relations
     <br>
<input type="radio" name="topic" value="his_own_fame">His own fame
     <br>
<input type="radio" name="topic" value="Global_Warming">Global Warming
     <br>
<input type="radio" name="topic" value="Barack_Obama">Barack Obama
     <br>     
     <input type="radio" name="topic" value="Gender">Gender
     <br>  
     
<!--    <input type= "submit" action = "/trump" class="problems"> -->
      <input type="submit" value="Submit">
   </form>
   </div>
   </center>
 </body>
</html>