<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Trumpenator</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Donald Trump's opinion</h1>
   <img src= "https://metrouk2.files.wordpress.com/2015/07/donaldtrump.gif">
   <p> <%= @quote.quote %> </p>
 </body>
</html>