<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Trumpenator</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   
   
   
 </head>
 <body>
   <a href="http://harukasenju-pc-15-precollege-se1-nyfl-080315-1-118551.nitrousapp.com:3000/index.erb"><h6 class="home">Home</h6></a>
   
   <center>
     
     <h4 class="opinion">Donald Trump's opinion</h4>
     <img src= "<%= @pictures.sample %>" height="300" class=""/>
     <p class="quote"> <%= @quote.quote %> </p>  
   </center>
   
 </body>
</html>