@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

*{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration:none;
}

body{
  background-color : #000;
}

h1{
  padding:10px;
  font-size: 60px;
  font-weight:bold;
  margin-left:75px;
  margin-top:-30px;
  font-family: 'Open Sans', sans-serif;
}

h2{
  color: #FFF;
  font-size:47px;
  font-family: 'Dancing Script', cursive;
  margin-top:-30px;
  padding:7px;
  margin-left:150px;
}

#theform{
  margin-top:-38px;
  margin-left: 300px;
}

#wrapper{
  margin-top:20px;
}

form{
  padding:15px;
  font-size:28px;
}

.refresh{
  margin-left:7px;
  margin-top:5px;
}

#refresh{
  opacity: 0.4;
  padding:15px;
}

#refresh:hover{
  opacity: 5;
}

h5{
  color:green;
}

h4{
  margin-top:-25px;
}

.home{
  padding:5px;
  font-size:30px;
  opacity:.8;
  margin-top:-1px;
}

.opinion{
  color:red;
  font-size:50px;
  margin-top:-80px;
  font-family: 'Open Sans', sans-serif;
}

.quote{
  margin-top:3px;
  width:700px;
  font-size:30px;
  padding:10px;
  color:blue;
  font-family: 'Open Sans', sans-serif;
}

.submit {
  margin-top:25px;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#FFF;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:18px 54px;
	text-decoration:none;
}
.submit:hover {
  color:black;
	background-color:white;
}
.submit:active {
	position:relative;
	top:1px;
}